body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header{
  display: block;
  
}
.button {
  display: flex;
  justify-content: space-evenly;
  flex-direction:row;
  margin-top: 20vh;
  
}

.button2{
  width: 200%;
  height: 30%;
}
.logo {
  width: 20%;
  height: 20%;
  
}

.description{
  justify-content: center;
  text-align: center;
  line-height: 40px;
  margin-top: 5vh;
}